:root {
    --btn-radius: 0rem;

    --btn-border-size: 0;
    --btn-outline-border-size: 1px;
    
    /* btn */
    --btn-text: #e5e7eb;
    --btn-bg: #374151;
    --btn-border: #4b5563;

    --btn-text-disabled: #6b7280;
    --btn-bg-disabled: #1f2937;
    --btn-border-disabled: #374151;

    --btn-text-hover: #ffffff;
    --btn-bg-hover: #4b5563;
    --btn-border-hover: #6b7280;

    --btn-text-active: #ffffff;
    --btn-bg-active: #1f2937;
    --btn-border-active: #374151;

    --btn-text-focus: #ffffff;
    --btn-bg-focus: #374151;
    --btn-border-focus: #9ca3af;


    /* btn primary */
    --btn-primary-text: #ffffff;
    --btn-primary-bg: #2563eb;
    --btn-primary-border: #1d4ed8;

    --btn-primary-text-disabled: #9ca3af;
    --btn-primary-bg-disabled: #374151;
    --btn-primary-border-disabled: #4b5563;

    --btn-primary-text-hover: #ffffff;
    --btn-primary-bg-hover: #3b82f6;
    --btn-primary-border-hover: #2563eb;

    --btn-primary-text-active: #ffffff;
    --btn-primary-bg-active: #1d4ed8;
    --btn-primary-border-active: #1e40af;

    --btn-primary-text-focus: #ffffff;
    --btn-primary-bg-focus: #2563eb;
    --btn-primary-border-focus: #60a5fa;


    /* btn secondary */
    --btn-secondary-text: #e5e7eb;
    --btn-secondary-bg: #374151;
    --btn-secondary-border: #4b5563;

    --btn-secondary-text-disabled: #6b7280;
    --btn-secondary-bg-disabled: #1f2937;
    --btn-secondary-border-disabled: #374151;

    --btn-secondary-text-hover: #ffffff;
    --btn-secondary-bg-hover: #4b5563;
    --btn-secondary-border-hover: #6b7280;

    --btn-secondary-text-active: #ffffff;
    --btn-secondary-bg-active: #1f2937;
    --btn-secondary-border-active: #374151;

    --btn-secondary-text-focus: #ffffff;
    --btn-secondary-bg-focus: #374151;
    --btn-secondary-border-focus: #6b7280;


    /* btn danger */
    --btn-danger-text: #ffffff;
    --btn-danger-bg: #dc2626;
    --btn-danger-border: #b91c1c;

    --btn-danger-text-disabled: #9ca3af;
    --btn-danger-bg-disabled: #374151;
    --btn-danger-border-disabled: #4b5563;

    --btn-danger-text-hover: #ffffff;
    --btn-danger-bg-hover: #ef4444;
    --btn-danger-border-hover: #dc2626;

    --btn-danger-text-active: #ffffff;
    --btn-danger-bg-active: #b91c1c;
    --btn-danger-border-active: #991b1b;

    --btn-danger-text-focus: #ffffff;
    --btn-danger-bg-focus: #dc2626;
    --btn-danger-border-focus: #f87171;


    /* btn success */
    --btn-success-text: #ffffff;
    --btn-success-bg: #16a34a;
    --btn-success-border: #15803d;

    --btn-success-text-disabled: #9ca3af;
    --btn-success-bg-disabled: #374151;
    --btn-success-border-disabled: #4b5563;

    --btn-success-text-hover: #ffffff;
    --btn-success-bg-hover: #22c55e;
    --btn-success-border-hover: #16a34a;

    --btn-success-text-active: #ffffff;
    --btn-success-bg-active: #15803d;
    --btn-success-border-active: #166534;

    --btn-success-text-focus: #ffffff;
    --btn-success-bg-focus: #16a34a;
    --btn-success-border-focus: #4ade80;


    /* btn info */
    --btn-info-text: #ffffff;
    --btn-info-bg: #0891b2;
    --btn-info-border: #0e7490;

    --btn-info-text-disabled: #9ca3af;
    --btn-info-bg-disabled: #374151;
    --btn-info-border-disabled: #4b5563;

    --btn-info-text-hover: #ffffff;
    --btn-info-bg-hover: #06b6d4;
    --btn-info-border-hover: #0891b2;

    --btn-info-text-active: #ffffff;
    --btn-info-bg-active: #0e7490;
    --btn-info-border-active: #155e75;

    --btn-info-text-focus: #ffffff;
    --btn-info-bg-focus: #0891b2;
    --btn-info-border-focus: #22d3ee;
}